.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.idea/
*.iml
.vscode/
web/build/
android/.gradle/
android/.kotlin/
android/app/debug
android/app/profile
android/app/release
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
